@page "/confirm-email"

@if (ConfirmationToken is null)
{
    <h3>Welcome aboard! 🎉</h3>
    <p class="p-3">Thanks for joining us! 🌟 We're thrilled to have you as part of our community. To get started, please check your email inbox for a verification link. Clicking on it will activate your account and unlock all the exciting features awaiting you. If you don't see the email in your inbox, don't forget to check your spam or junk folder, just in case.</p>
    <p class="p-3">If you encounter any issues or have questions, feel free to reach out to our support team. We're here to help! Happy exploring! 🚀</p>
}
else
{
    <p class="p-3">Confirming your e-mail...</p>
    <p class="p-3">ConfirmationToken: @ConfirmationToken</p>
}

@code {
    [SupplyParameterFromQuery(Name = "token")]
    public string? ConfirmationToken { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }
}
