@attribute [Route(Routes.Home)]
@attribute [AllowAnonymous]

<PageTitle>BSLR: Home</PageTitle>

<section class="container-fluid">
@*     <AuthorizeView Policy="@Policies.EmailVerified">
        <NotAuthorized>
            @if (context.User.Identity?.IsAuthenticated ?? false)
            {
                <div class="alert alert-primary card shadow">
                    <div class="alert-heading">Account Not Verified</div>
                    <div>Please check your email for a link to finish setting up your account.</div
                </div>    
            }            
        </NotAuthorized>
    </AuthorizeView>
 *@
    <h1>Welcome!</h1>
    <p>This app is a sandbox for testing and building prototypes for ASPNET and Blazor.</p>
    <p>It is a work in progress and will be updated as I learn more about Blazor and ASPNET.</p>
    <p>For now, it is a simple app that allows users to register, login, and confirm their email address.</p>
</section>
